body {
  font: 10px sans-serif;
}

.d3-tip {
  line-height: 1;
  font-weight: bold;
  padding: 8px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  border-radius: 2px;
  font-size: 11px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  width: 100%;
  line-height: 1;
  color: rgba(0, 0, 0, 0.8);
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip .tip-detail {
  color: red;
  display: inline-block;
}

.d3-tip div.tip-line {
  display:block;
  padding: 2px;
}

#title.tip-line {
  text-align: center;
}

.graph-item {
  display:inline-block;
  vertical-align: top
}

div.graph-container {
  margin-left: 100px;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 50px;

  overflow-x: scroll;
  white-space: nowrap;
}

.d3-tip .tip-line #name {
  width: 80px;
  display: inline-block;
}

.tip-detail {
  margin-right: 10px;
}

div.message-box {
  /*font-size: 14px;*/
  margin-left: 5px;
}

div#console {
  display: inline-block;
}